name: Automation

on:
  pull_request_target:

jobs:
  label-lang:
    runs-on: ubuntu-latest
    continue-on-error: true

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ github.token }}

  assign_reviewer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get previous PR author and assign as reviewer
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          current_pr_number=$(gh pr view --json number -q .number)
          previous_pr_author=$(gh pr list --limit 2 --json author --jq '.[1].author.login')
          
          gh pr edit $current_pr_number --add-reviewer $previous_pr_author
          
          echo "Assigned $previous_pr_author as reviewer to PR #$current_pr_number"
